Prefab/
Oculus/
TajikaAssets/
AusioAssets/
Library/
Logs/
Temp/
UserSettings/
Oculus/
Underwater_FX/
XR/
Extra/
ProjectSettings/
Packages/
.collabignore
VRaquarium.apk
HakodateOsakanaTourVR.unitypackage
